html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "NFT"
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/normilize.css")
    body
        .container
            .container_blue
                span.container_blue__gradient
                span.container_blue__round
                header.header.section__container
                    a.header__logo
                        img.header__logo-img(src="/img/logo.png" alt="logo")
                    nav.header__nav
                        ul.header__nav-list
                            li.header__nav-item
                                a.header__nav-link(href="//") Главная
                            li.header__nav-item
                                a.header__nav-link(href="//") Что даст обучение
                        button.header__button Личный кабинет
                    .header__burger
                        span
                        span
                    .overlay-burger
                section.section-hero.section__container
                    span.section-hero_man
                    .section-hero__block
                        h1.section-hero__main-text Не упусти возможность войти в #[strong прибыльную нишу]
                        h3.section-hero__text Получи все нужные навыки для заработка на NFT всего за 28 дней!
                        button.open-modal.section-hero__button.button_shadow Начать зарабатывать на NFT
                        .section-hero__modal
                            .section-hero__modal__gradient
                                svg.modal__close(width="23" height="23")
                            .section-hero__modal__block
                                h1.section-hero__modal__title Начни прямо сейчас!
                                p.section-hero__modal__text Получи все нужные навыки для заработка на NFT всего за 28 дней

                            form.section-hero__modal__form
                                input.section-hero__modal__form__input(required type="email" placeholder="Ваш email" name="person_email")
                                button.section-hero__modal__form__button(type="submit") Оплатить


                        .overlay

            section.section-main.section__container
                span.section-main__round_purple
                span.section-main__round_purple-mobile
                span.section-main__round_blue
                span.section-main__gradient_top
                .section-main__block
                    h1.section-main__title Что даст тебе обучение?
                    .section-main__cards
                        .section-main__card
                            span.section-main__card_shadow
                            .section-main__card__block
                                span.section-main__card__block__smile.smile_stars
                                p.section-main__card__block__text Откроешь свой первый криптокошелек и научишься с ним работать
                        .section-main__card
                            span.section-main__card_shadow
                            .section-main__card__block
                                span.section-main__card__block__smile.smile_crazy
                                p.section-main__card__block__text Узнаешь кто такие холдеры и флипперы
                        .section-main__card
                            span.section-main__card_shadow
                            .section-main__card__block
                                span.section-main__card__block__smile.smile_dollar
                                p.section-main__card__block__text Построишь план по быстрому приумножению заработанных средств

                        .section-main__card
                            span.section-main__card_shadow
                            .section-main__card__block
                                span.section-main__card__block__smile.smile_glasses
                                p.section-main__card__block__text Поймёшь, как выбирать правильные дропы
                    span.section-main__round_gradient
                    span.section-main__gradient_bottom
        script(src="js/index.js")
